<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094017099438-rd55lh8kbkpsmuksqe04g8io64e5haqk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094017099438-rd55lh8kbkpsmuksqe04g8io64e5haqk</string>
	<key>API_KEY</key>
	<string>AIzaSyDcKUYk9oOtGvpBwZ3l-8VOubJUs1VSB8k</string>
	<key>GCM_SENDER_ID</key>
	<string>1094017099438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.phrrbk</string>
	<key>PROJECT_ID</key>
	<string>health-appointment</string>
	<key>STORAGE_BUCKET</key>
	<string>health-appointment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094017099438:ios:61e546006c674ac4</string>
	<key>DATABASE_URL</key>
	<string>https://health-appointment.firebaseio.com</string>
</dict>
</plist>